.spaced {
  padding: calc(var(--spacerBig) / 1.5);
}
@media only screen and (min-width: 360px) {
  .spaced {
    padding: var(--spacerBig);
  }
}

.highlight {
  background-color: var(--colorMain);
}

@media only screen and (min-width: 900px) {
  .highlight:not(.header) {
    min-height: 25rem;
  }
}

.nolist {
  margin: 0; padding: 0; list-style: none;
}

.hide {
  display: none;
}

.pt-0 {
  padding-top: 0;
}

.mb--regular {
  margin-bottom: var(--spacerRegular);
}
.mb--small {
  margin-bottom: var(--spacerSmall);
}

hr {
  margin: var(--spacerBig) 0;
  height: .1rem;
  border: 0; border-top: .1rem solid #e4e4e4;
}

.form__label {
  
}
.form__input {
  width: 100%;
  margin-top: calc(var(--spacerSmall) / 1.5);
}
.form__button {
  background: var(--colorSecondary);
  border: 0;
  padding: calc(var(--spacerSmall) / 2.5) calc(var(--spacerSmall) * 1);
  border-radius: 0.3rem;
}
.form__button:disabled {
  background: #e8e8e8;
}
