body {
  font-size: var(--fontRegular);
  font-family: var(--font);
  font-weight: var(--fontWeightRegular);
}
@media only screen and (min-width: 900px) {
  body {
    font-size: var(--fontMedium);
  }
}

h1, .h1-like {
  font-size: var(--fontBig);
  font-family: var(--font);
  font-weight: var(--fontWeightBold);
  margin: 0 0 1rem;
}

h2, .h2-like {
  display: block;
  font-size: var(--fontSmall);
  font-family: var(--font);
  font-weight: var(--fontWeightRegular);
  text-transform: uppercase;
  margin: 0 0 .65rem;
}
