:root {
  --colorLightest: white;
  --colorText: #211f1f;
  --colorMain: #f9d2cb;
  --colorSecondary: #a3f4dc;
  --colorGray: #fafafa;
  --colorGrayDark: #9c9c9c;
  --spacerSmall: .75rem; /* 12px */
  --spacerRegular: 1rem; /* 16px */
  --spacerBig: 1.88rem; /* 30px */
  --fontSmall: .75rem; /* 12px */
  --fontRegular: 1.13rem; /* 18px */
  --fontMedium: 1.25rem; /* 20px */
  --fontBig: 1.75rem; /* 28px */
  --font: 'Roboto', sans-serif;
  --fontWeightRegular: 400;
  --fontWeightBold: 500;
}
