.prices {
    padding-top: 0;
}
@media only screen and (min-width: 900px) {
    .prices {
        background-image: url(./assets/img/plant-based-coffee.png);
        background-repeat: no-repeat;
        background-position: calc(50% - var(--spacerSmall)) calc(100% - var(--spacerBig));
    }
}

.prices__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Right panel */
.orders {
    list-style: none;
    margin: 0;
    padding: 0;
}

.total {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    background: var(--colorGray);
    font-weight: var(--fontWeightBold);
    padding: var(--spacerRegular) var(--spacerBig);
    margin: 0;
    border-top: 0.1rem solid #f1f1f1;
  }
  @media only screen and (min-width: 900px) {
    .total {
      left: 33.33%;
      padding: var(--spacerBig);
    }
  }
  
  .total__label, .total__price {
    padding-bottom: var(--spacerBig);
  }
  
  .total__price {
    justify-self: flex-end;
  }
  
  .orderform {
    grid-column: 1 / -1;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    grid-template-columns: 1fr 1fr auto;
    padding-top: var(--spacerBig);
    border-top: 0.1rem dashed #bbb;
  }
  

/* Empty state */
.emptystate {
    text-align: center;
    margin-top: calc(var(--spacerBig) * 1);
    color: var(--colorGrayDark);
}
@media only screen and (min-width: 360px) {
    .emptystate {
        margin-top: calc(var(--spacerBig) * 2);
    }
}

.emptystate__content {
    display: block;
    margin-top: var(--spacerSmall);
}

