
.order {
    display: flex;
    align-items: center;
    padding: var(--spacerSmall) 0;
    border-bottom: .06rem solid var(--colorGray);
}

.order:first-child {
    padding-top: calc(var(--spacerSmall) / 3);
}

.order:last-child {
    padding-bottom: calc(var(--spacerSmall) / 3);
}

.order__name {
    flex-grow: 1;
}

.order__amount {
    display: inline-block;
    color: var(--colorMain);
    margin-right: var(--spacerSmall);
}

.order__remove {
    color: var(--colorGrayDark);
    padding-left: var(--spacerSmall);
    padding-right: 0;
    font-size: var(--fontSmall);
    background: transparent;
    border: 0;
    cursor: pointer;
}